<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <title>{% block title %}BLOG{% endblock %}</title>

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ asset('bundles/blog/css/style.css') }}" type="text/css" />
        <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/themes/base/jquery-ui.css">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body>
        <div class="container-fluid">
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-target">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <h2 class="navbar-brand">BLOG DE JEAN FORTEROCHE</h2>
                    </div>
                    <div class="collapse navbar-collapse" id="navbar-collapse-target">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="{{ path('blog_homepage') }}"><span class="glyphicon glyphicon-home"></span> Accueil</a>
                            </li>
                            {% if app.user %}
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <span class="glyphicon glyphicon-cog"></span> Administration <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('blog_adminBillets') }}">Billets</a></li>
                                        <li><a href="{{ path('blog_adminComments') }}">Commentaires</a></li>
                                    </ul>
                                </li>
                            {% endif %}
                            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <span class="glyphicon glyphicon-user"></span> Bonjour Jean <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('blog_logout') }}">Log out</a></li>
                                    </ul>
                                </li>
                            {% else %}
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <span class="glyphicon glyphicon-user"></span> Not connected <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('blog_login') }}">Log in</a></li>
                                    </ul>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="container-fluid col-md-12" id="content">
                <div class="row">
                    {% block body %}{% endblock %}
                    {% block aside %}{% endblock %}
                </div>
            </div>

            <div class="footer col-md-12 navbar-fixed-bottom">
                <p id="copyright">COPYRIGHT - 2017</p>
            </div>

            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
            <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
            <script src="{{ asset('bundles/blog/js/script.js') }}"></script>
        </div>
    </body>
</html>
