{% extends "::base.html.twig" %}

{% block body %}
    <div class="col-md-10">
        <div id="billetsChronologie">
            {%  for billet in pager.currentPageResults %}
                <article class="billetUnique">
                    <h4>Publié le : <span id="billetDate">{{ billet.date | date('d-m-Y') }}</span></h4>
                    <header>
                        <a href="{{ path('blog_billet', {'id' : billet.id}) }}"><h3>{{ billet.title }}</h3></a>
                    </header>
                    <div>
                        <p id="contenu">{{ billet.content | truncate(500) | purify }}</p>
                        <p><a href="{{ path('blog_billet', {'id' : billet.id}) }}">Lire la suite...</a></p>
                    </div>
                    <footer class="billetFooter">
                        <a href="{{ path('blog_billet', {'id' : billet.id}) }}#comments">{{ billet.getNumberOfComments }} commentaire(s)</a>
                        <br/>
                    </footer>
                </article>
            {% endfor %}
        </div>
        <div class="pagerfanta">
            {{ pagerfanta(pager, 'twitter_bootstrap3', {'routeName' : 'blog_homepage_paginated'}) }}
        </div>
    </div>
{% endblock %}

{% block aside %}
        {{ render(controller('BlogBundle:Blog:aside')) }}
{% endblock %}
