{% extends "::base.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-md-10" id="billetsChronologie">
            {%  for billet in billets %}
                <div class="col-md-6 billetUnique">
                    <a href="{{ path('blog_billet', {'id' : billet.id}) }}"><h3>{{ billet.title }}</h3></a>
                    <h6>Publié le : {{ billet.date | date('d-m-Y') }}</h6>
                    <p id="contenu" style="text-align: justify">{{ billet.content | truncate(500, true, '...') }}</p>
                    <a href="{{ path('blog_billet', {'id' : billet.id}) }}#commentaires">{{ billet.getNumberOfComments }} commentaire(s)</a>
                </div>
            {% endfor %}
        </div>
        {{ render(controller('BlogBundle:Blog:aside')) }}
    </div>
{% endblock %}