{% extends "::base.html.twig" %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10" id="billetsChronologie">
                {%  for billet in billets %}
                    <h3>{{ billet.title }}</h3>
                    <h6>Publié le : {{ billet.date | date('d-m-Y') }}</h6>
                    <p>{{ billet.content }}</p>
                    <a href="#">{{ billet.getNumberOfComments }} commentaire(s)</a>
                {% endfor %}
            </div>
            <div class="col-md-2" id="listeBillets">
                <h4>Liste des épisodes</h4>
                {%  for billet in billets %}
                    <a href="#"><h5>{{ billet.title }}</h5></a>
                {% endfor %}
            </div>
            <div class="col-md-2" id="listeComments">
                <h4>Commentaires</h4>
                {%  for billet in billets %}
                    {%  for comment in billet.comments %}
                        <p>{{ comment.content }}</p>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}