{% extends "::base.html.twig" %}

{% block body %}
    <div class="col-md-10">
        <div class="container-fluid">
        <h2>Modération des commentaires</h2>
        <br/>
        <table id="tableauComments">
            <thead>
                <tr>
                    <th>Auteur</th>
                    <th>Commentaires</th>
                    <th>Billet</th>
                    <th>Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="corpsTableauComments">
                {% for comment in comments %}
                    <tr>
                        <td>{{ comment.author }}</td>
                        <td>

                            {{ comment.content | truncate(30) }}

                        </td>
                        <td>{{ comment.billet.title }}</td>
                        <td>{{ comment.date | date('d-m-Y') }} à {{ comment.date | date('H:i:s')}}</td>
                        <td>
                            <button type="button" class="btn btn-danger btn-xs" title="Delete" data-toggle="modal" data-target="#commentDialog{{ comment.id }}">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                            <div class="modal fade" id="commentDialog{{ comment.id }}" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title" id="myModalLabel">Confirmation de suppression</h4>
                                        </div>
                                        <div class="modal-body">
                                            Voulez vous vraiment supprimer le commentaire de {{ comment.author }} du {{ comment.date | date('d-m-Y') }} ?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Non</button>
                                            <a href="{{ path('blog_commentsAdmin_delete', { 'id': comment.id }) }}" class="btn btn-danger">Oui</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
{% endblock %}

{% block aside %}
    <div class="col-md-2">
        <div class="sidebar-nav-fixed pull-right affix">
            <div class="well">
                <h4><span class="glyphicon glyphicon-cog"></span> Administration</h4>
                <a href="{{ path('blog_billetsAdmin') }}"><h5>Billets</h5></a>
                <a href="{{ path('blog_commentsAdmin') }}">Commentaires</a>
            </div>
        </div>
    </div>
{% endblock %}