{% for comment in comments %}
    <article class="comment {{ cycle(['odd', 'even'], loop.index0) }} comment" id="comment-{{ comment.id }}">
        <header>
            <p>
                <u>
                    <span class="couleur">{{ comment.author }} a commenté le </span>
                    <span class="couleur">{{ comment.date | date('d-m-Y') }} à </span>
                    <span class="couleur">{{ comment.date | date('H:i:s')}}</span>
                </u>
                <div id="signalementComment">
                    {%  if not comment.signaled %}
                        <a type="button" class="btn btn-danger btn-xs" href="{{ path('blog_comment_signaled', {'id' : comment.id}) }}">
                            Signaler
                        </a>
                    {% else %}
                        <span id="okSignalement">Commentaire signalé !</span>
                    {% endif %}
                </div>
            </p>
        </header>
        <p>{{ comment.content }}</p>
    </article>
{% else %}
    <p>Pas de commentaires.</p>
{% endfor %}
<hr/>
<div class="well container-fluid col-md-5">
    {{ form_start(form) }}
        <h3 id="commentFormTitle">Votre commentaire :</h3>
        {{ form_row(form.author) }}
        {{ form_row(form.content) }}
        {{ form_widget(form.submit) }}
    {{ form_end(form) }}
</div>
