{% for comment in comments %}
    <article class="comment {{ cycle(['odd', 'even'], loop.index0) }}" id="comment-{{ comment.id }}">
        <header>
            <p>{{ comment.author }} a commenté le {{ comment.date | date('d-m-Y') }} à {{ comment.date | date('H:i:s')}}</p>
        </header>
        <p>{{ comment.content }}</p>
    </article>
{% else %}
    <p>Pas de commentaires.</p>
{% endfor %}

<div class="well container-fluid col-md-5">
    {{ form_start(form) }}
        {{ form_row(form.author) }}
        {{ form_row(form.content) }}
        {{ form_widget(form.submit) }}
    {{ form_end(form) }}
</div>