{% extends "::base.html.twig" %}

{% block body %}
    <div class="col-md-10">
        <div class="container-fluid">
            <h2><u>Modération des commentaires signalés :</u></h2>
            <br/>
            <table class="table table-bordered table-striped" id="tableauCommentsSignaled">
                <thead>
                <tr>
                    <th>Auteur</th>
                    <th>Commentaires</th>
                    <th>Billet</th>
                    <th>Date commentaire</th>
                    <th>Date signalement</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody id="corpsTableauCommentsSignaled">
                {% for comment in comments %}
                    <tr>
                        <td class="commentadminTabCol">
                            <a href="{{ path('blog_adminCommentsByAuthor', {'author' : comment.author}) }}" title="Aller aux commentaires de {{ comment.author }}">
                                {{ comment.author }}
                            </a>
                        </td>
                        <td class="commentadminTabCol">
                            {% if comment.content | length >= 65 %}
                                {{ comment.content | truncate(65) }}
                                {{ include('BlogBundle:Comments:commentModalDialog.html.twig') }}
                            {% else %}
                                {{ comment.content }}
                            {% endif %}
                        </td>
                        <td class="commentadminTabCol">
                            <a href="{{ path('blog_adminCommentsByBillet', {'id' : comment.billet.id}) }}" title="Aller aux commentaires de ce billet">
                                {{ comment.billet.title }}
                            </a>
                        </td>
                        <td>{{ comment.date | date('d-m-Y') }} à {{ comment.date | date('H:i:s')}}</td>
                        <td>{{ comment.dateSignaled | date('d-m-Y') }} à {{ comment.dateSignaled | date('H:i:s')}}</td>
                        <td>
                            {{ include('BlogBundle:Comments:commentModalEdit.html.twig') }}
                            {{ include('BlogBundle:Comments:commentModalDelete.html.twig') }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <a href="javascript:window.history.go(-1)" class="btn btn-default" type="button">
                <span class="glyphicon glyphicon-arrow-left"></span> Retour liste commentaires
            </a>
        </div>
    </div>
{% endblock %}

{% block aside %}
    {{ include('BlogBundle::asideAdmin.html.twig') }}
{% endblock %}
