{% extends "::base.html.twig" %}

{% block body %}
    <div class="col-md-10">
        <div class="container-fluid">
            <h2><u>Modération des commentaires du billet : </u></h2>
            <h3 class="couleur">{{ billet.title }}</h3>
            <br/>
            <table class="table table-bordered table-striped" id="tableauCommentsByBillet">
                <thead>
                    <tr>
                        <th>Billet</th>
                        <th>Commentaires</th>
                        <th>Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id="corpsTableauComments">
                    {% for comment in comments %}
                        {% if comment.signaled %}
                            <tr class="danger">
                        {% else %}
                            <tr>
                        {% endif %}
                            <td class="commentadminTabCol">
                                <a href="{{ path('blog_adminCommentsByAuthor', {'author' : comment.author}) }}" title="Tous les commentaires de {{ comment.author }}">
                                    {{ comment.author }}
                                </a>
                            </td>
                            <td class="commentadminTabCol">
                                {% if comment.content | length >= 65 %}
                                    {{ comment.content | truncate(65) }}
                                    {{ include('BlogBundle:Comments:commentModalDialog.html.twig') }}
                                {% else %}
                                    {{ comment.content }}
                                {% endif %}
                            </td>
                            <td>{{ comment.date | date('d-m-Y') }} à {{ comment.date | date('H:i:s')}}</td>
                        <td>
                            {% if comment.signaled %}
                                    <span class="glyphicon glyphicon-warning-sign signaled" title="Commentaire signalé"></span>
                                    {{ include('BlogBundle:Comments:commentModalEdit.html.twig') }}
                                {% endif %}
                                {{ include('BlogBundle:Comments:commentModalDelete.html.twig') }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="{{ path('blog_adminBillets') }}" class="btn btn-default" type="button">
                <span class="glyphicon glyphicon-arrow-left"></span> Retour liste billets
            </a>
        </div>
    </div>
{% endblock %}

{% block aside %}
    {{ include('BlogBundle::asideAdmin.html.twig') }}
{% endblock %}
