{% extends "::base.html.twig" %}

{% block body %}
    <div class="col-md-10">
        <div class="container-fluid col-md-12">
            <h2><u>Administration des billets :</u></h2>
            <br/>
            <table class="table table-bordered table-striped" id="tableauBillets">
                <thead>
                    <tr>
                        <th>Episodes</th>
                        <th>Date de création</th>
                        <th>Date de modification</th>
                        <th>Nombre de commentaires</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id="corpsTableauBillets">
                    {% for billet in billets %}
                        <tr>
                            <td id="tableauBilletColTitre">{{ billet.title }}</td>
                            <td>{{ billet.date | date('d-m-Y') }}</td>
                            <td>{{ billet.dateUpdate | date('d-m-Y') }}</td>
                            {% if billet.getNumberOfComments %}
                                <td>
                                    {{ billet.getNumberOfComments }}
                                    <a href="{{ path('blog_adminCommentsByBillet', {'id' : billet.id}) }}" title="Editer commentaires">
                                        <span class="glyphicon glyphicon-edit"></span>
                                    </a>
                                    {% if billet.hasSignaledComment %}
                                        <a href="{{ path('blog_adminComments_signaled') }}" title="Commentaire(s) signalé(s)">
                                            <span class="glyphicon glyphicon-warning-sign signaled"></span>
                                        </a>
                                    {% endif %}
                                </td>
                            {% else %}
                                <td>{{ billet.getNumberOfComments }}</td>
                            {% endif %}
                            <td>
                                <button type="button" class="btn btn-xs" title="Editer">
                                    <a href="{{ path('blog_adminBillet_edit', {'id' : billet.id}) }}"><span class="glyphicon glyphicon-edit"></span></a>
                                </button>
                                <button type="button" class="btn btn-danger btn-xs" title="Supprimer" data-toggle="modal" data-target="#billetDialog{{ billet.id }}">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                                <div class="modal fade" id="billetDialog{{ billet.id }}" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <h4 class="modal-title" id="myModalLabel">Confirmation de suppression</h4>
                                            </div>
                                            <div class="modal-body">
                                                Voulez vous vraiment supprimer le : {{ billet.title }} du {{ billet.date | date('d-m-Y') }} ?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Non</button>
                                                <a href="{{ path('blog_adminBillet_delete', { 'id': billet.id }) }}" class="btn btn-danger">Oui</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="{{ path('blog_adminBillet_add') }}" type="button" class="btn btn-primary pull-right" title="Add">
                <span class="glyphicon glyphicon-pencil"> Nouveau billet</span>
            </a>
        </div>
    </div>

{% endblock %}

{% block aside %}
    {{ include('BlogBundle::asideAdmin.html.twig') }}
{% endblock %}
